@model NEWMYSOFAPPLICATION.Models.RegistrationForm

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RegistrationForm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EntSemesters)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntSemesters)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntCenter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntCenter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntCivilID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntCivilID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntArabicName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntArabicName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntEnglishName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntEnglishName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntArabicSecond)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntArabicSecond)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntEnglishSecond)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntEnglishSecond)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntArabicThird)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntArabicThird)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntEnglishThird)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntEnglishThird)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntArabicFamily)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntArabicFamily)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntEnglishFamily)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntEnglishFamily)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntMale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntMale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntFemale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntFemale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntGregorian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntGregorian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntHijri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntHijri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntBirthDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntBirthDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntBirthPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntBirthPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntNationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntNationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntEXPDateID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntEXPDateID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntIDType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntIDType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntPhoneNumH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntPhoneNumH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntMobileNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntMobileNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntArStreet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntArStreet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntEnStreet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntEnStreet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntArBuilding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntArBuilding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntEnBuilding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntEnBuilding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntArFloor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntArFloor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntEnFloor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntEnFloor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntArtSience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntArtSience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntCuorses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntCuorses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntCertificateType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntCertificateType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntAverage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntAverage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntGraduateYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntGraduateYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntEnglishLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntEnglishLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntQyasGrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntQyasGrade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntTofelTest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntTofelTest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntProgram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntProgram)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntTrack)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntTrack)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntHaveAjob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntHaveAjob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntKnowingOfAOU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntKnowingOfAOU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntHaveDisAbility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntHaveDisAbility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntPhoneNumEm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntPhoneNumEm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
