
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!--import font awesome library-->
    <script src="https://kit.fontawesome.com/5a0dddbca3.js" crossorigin="anonymous"></script>

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<style>

    *,
    *:before,
    *:after {
        -webkit-box-sizing: border-box; /*chrome-mobile*/
        box-sizing: border-box;
        -moz-box-sizing:border-box; /*firefox*/
        font-family: sans-serif, "Montserrat", Helvetica;
        padding: 0;
        margin: 0;
    }
    /*=============================   header  =============================  */

    body {
     padding-top: 0; 
     padding-bottom: 0; 
}

    .body-content{
        padding-top:50px;
    }

    .header {
        position: relative;
        height: 100px;
        overflow: hidden;
        padding-bottom: 50px;
    }

    .header .mycontainer {
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
        background-color: white;
        position: fixed;
        width: 100vw;
        height: 100px;
        display: flex;
        z-index: 10;
    }

    .logo-holder {
        width: 70%;
        height: 100%;
        padding-left: 30px;
    }

    .custom-transition {
        transition: all .6s ease;
        -webkit-transition: all .6s ease;
        -moz-transition: all .6s ease;
        -o-transition: all .6s ease;
    }

    #check {
        display: none;
    }
    /* تغيير لون الايقونه من هنا
            غيري ال
            color بس
            */

    .bar-icon-label {
        font-size: 30px;
        color: rgb(93, 199, 206);
        padding: 15px;
        cursor: pointer;
    }
    /*=============================   navbar  =============================  */

    .navbar-list {
        width: auto;
        height: 100%;
        display: flex;
        float: right;
        align-items: center;
    }

    .navbar-ul li {
        padding-left:15px;
        font-size: 22px;
        margin: 15px 0;
        float: left;
        list-style: none;
    }

        .navbar-ul li .navbar-link {
            text-decoration: none;
        }

    .full-size-image {
        width: 100%;
        height: 100%;
    }
    /* Extra small devices (phones, 600px and down) */

    @@media only screen and (max-width: 600px) {
        .mycontainer {
            width: 100vw;
        }
        /*  header */
        .logo-container {
            width: 50%;
        }

        .logo-holder {
            /* width: 50%; */
            width: 100%;
            padding-left: 20px;
        }

        .navbar-container {
            width: 0%;
        }

        .bar-container {
            width: 50%;
            padding-right: 40px;
            margin: auto 0;
        }

        .bar-icon-label {
            float: right;
        }

        .navbar-list .navbar-ul {
            top: 100px;
            left: -50%;
            right: 0;
            position: fixed;
            width: 30%;
            height: 100%;
            float: right;
            list-style: none;
            overflow: hidden;
            display: block;
            visibility: hidden;
        }

        .responsive .navbar-ul {
            visibility: visible;
            transition: left .6s ease-out;
            -webkit-transition: left .6s ease-out;
            -moz-transition: left .6s ease-out;
            -o-transition: left .6s ease-out;
            left: 0;
            background-color: white;
            /*background-color: rgba(10, 69, 93, 1);*/
        }

        .navbar-ul li .navbar-link {
            transition: initial;
            display: flex;
            color: white;
            width: 100%;
            float: left;
            padding: 15px;
            text-transform: uppercase;
        }

        .navbar-ul li {
            margin: 7px 0 0 0;
            display: flex;
            width: 100%;
        }

            .navbar-ul li:hover {
                color: white;
                background-color: rgb(93, 199, 206);
                border-radius: initial;
            }
    }
    /* Small devices (portrait tablets and large phones, 600px and up) */

    @@media only screen and (min-width: 600px) {
        /*  header */
        .logo-container {
            width: 70%;
        }

        .logo-holder {
            width: 40%;
            padding-left: 20px;
        }

        .navbar-container {
            width: 0%;
        }

        .bar-container {
            width: 30%;
            padding-right: 40px;
            margin: auto 0;
        }

        .bar-icon-label {
            float: right;
        }

        .navbar-list .navbar-ul {
            top: 100px;
            left: -50%;
            right: 0;
            position: fixed;
            width: 30%;
            height: 100%;
            float: right;
            list-style: none;
            overflow: hidden;
            display: block;
            visibility: hidden;
        }
        .responsive .navbar-ul {
            visibility: visible;
            transition: left .6s ease-out;
            -webkit-transition: left .6s ease-out;
            -moz-transition: left .6s ease-out;
            -o-transition: left .6s ease-out;
            left: 0;
            /*background-color: rgba(10, 69, 93, 1);*/
            background-color: white;
        }

        .navbar-ul li .navbar-link {
            transition: initial;
            display: flex;
            color: white;
            width: 100%;
            float: left;
            padding: 15px;
            text-transform: uppercase;
        }

        .navbar-ul li {
            margin: 7px 0 0 0;
            display: flex;
            width: 100%;
        }

            .navbar-ul li:hover {
                color: white;
                background-color: rgb(93, 199, 206);
                border-radius: initial;
            }
    }
    /* Medium devices (landscape tablets, 768px and up)
        The navbar toggle appears at this breakpoint */

    @@media only screen and (min-width: 768px) {
        /*  header */
        .logo-holder {
            width: 30%;
        }
    }

    /*footer p{
        color: red;
    }*/
</style>
<body>

  

    <!-- start header   -->
    <header class="header" id="header">
        <div class="mycontainer">
            <div class="logo-container float-left">
                <div class="logo-holder ">
                    <a href="index.html">
                        @*<img src="~/Content/sofWeb.png" class="img-center" height="50" width="50" />*@

                        <img class="full-size-image"src="~/Content/sofWeb.png" alt="my logo">
                    </a>
                </div>
            </div>
            <div class="bar-container">
                <input type="checkbox" id="check" onclick="myFunction()">
                <label for="check" class="bar-icon-label">
                    <i id="my-icon" class="fa fa-bars" aria-hidden="true"></i>
                    <i style="display: none;" id="my-iconX" class="fas fa-times" aria-hidden="true"></i>
                </label>
            </div>
            <nav class="navbar-container float-left">
                <div class="navbar-list" id="navbar-not-responsive">
                    <!-- removing the custom transition will remove the lag-->
                    <ul class="navbar-ul ">
       

                        <li>@Html.ActionLink("Registered Members", "Index", "RegisterMembers1", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Booked Appointment", "Index", "StudentReservedAppointments1", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Verifying Member", "Index", "MemberVerifyOnlies1", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Registeration Form", "Index", "RegistrationForms1", new { area = "" }, new { @class = "navbar-brand" })</li>
                        @*<li>@Html.ActionLink("Normal Student Trensaction", "Index", "NormalTransactions1", new { area = "" }, new { @class = "navbar-brand" })</li>*@
                        <li>@Html.ActionLink("Lost Thing Post", "Index", "LostPostings1", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Staff TimeSlot", "Index", "TimeSlots1", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("TimeSlot Div ", "Index", "TimeSlotDivs1", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Event Post", "Index", "PostingEvents_N1", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Staff's Service", "Index", "ServicesOfStaffs1", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Departments", "Index", "Departments1", new { area = "" }, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Appointment Trancking", "Index", "Trackings1", new { area = "" }, new { @class = "navbar-brand" })</li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- start header   -->

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My SOF Application - Safa Ismat</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        // navbar responsive function
        function myFunction() {
            var x = document.getElementById("navbar-not-responsive");
            if (x.className === "navbar-list") {
                x.className += " responsive";
                document.getElementById("my-iconX").style.display = "block"; /* x icon appear here*/
                document.getElementById("my-icon").style.display = "none"; /* bar icon will be hidden*/

            } else {
                x.className = "navbar-list";
                document.getElementById("my-iconX").style.display = "none";
                document.getElementById("my-icon").style.display = "block";
            }
        }
    </script>
</body>
</html>
