@model IEnumerable<NEWMYSOFAPPLICATION.Models.StudentReservedAppointment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.studentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.studentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.staffName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.serviceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isDone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.availability)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isVisibale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roleNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkingDaysTupe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isDoneby)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isCancelledby)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.studentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.studentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.staffName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.serviceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isDone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.availability)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isVisibale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.roleNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkingDaysTupe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isDoneby)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isCancelledby)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
